.pdf {
    text-align: center;
   /* background-color: #474157; */
   /* background-color: #F3F3F4; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  #loader {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;

    /* background-color: #474157; */
  }
  
  .clickable {
    cursor: pointer;
  }
  .control-panel {
    font-size: 16px;
    /* color: #333333;
    background-color: white; */

    color: rgb(243, 243, 244);
    background-color: #565472;
    border-radius: 5px;
    width: fit-content;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .disabled {
    cursor: not-allowed;
    color: lightgray;
  }
  
  .react-pdf__Document{
    box-shadow: 0 30px 35px rgba(0,0,0,0.15)
  }