 .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.card .card-header-primary .card-icon, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
}

.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
    background: linear-gradient(
90deg
, rgba(105,231,189,1) 0%, rgba(56,211,159,1) 35%, rgba(59,175,136,1) 100%);
}

.card [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}

.card .card-header {
    z-index: 3 !important;
}
.card [class*="card-header-"], .card[class*="bg-"] {
    color: #fff;
}

.card .card-header {
    border-bottom: none;
    background: transparent;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}

.card .card-header-primary .card-icon, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
}
.card .card-header .card-title {
    margin-bottom: 3px;
}

.card [class*="card-header-"] .card-title a, .card [class*="card-header-"] .card-title, .card [class*="card-header-"] .icon i, .card[class*="bg-"] .card-title a, .card[class*="bg-"] .card-title, .card[class*="bg-"] .icon i {
    color: #fff;
}

.card .card-title {
    margin-top: 0;
    margin-bottom: 3px;
}

/* .title, .title a, .card-title, .card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a {
    color: #3C4858;
    text-decoration: none;
} */

h4, .h4 {
    font-size: 1.125rem;
    line-height: 1.4em;
    font-weight: 300;
}

.card [class*="card-header-"] .card-title+.card-category {
    color: rgba(255, 255, 255, 0.8);
}

.card .card-header .card-category {
    margin: 0;
}

.card .card-body {
    padding: 0.9375rem 20px;
    position: relative;
}
.card .card-body, .card .card-footer {
    padding: 0.9375rem 1.875rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-profile {
    margin-top: 30px;
    text-align: center;
}

.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
}

.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.card-profile .card-avatar+.card-body {
    margin-top: 15px;
}
.card .card-body {
    padding: 0.9375rem 20px;
    position: relative;
}
.card .card-body, .card .card-footer {
    padding: 0.9375rem 1.875rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-category {
    margin-top: 10px;
}
/* .text-gray {
    color: #999999 !important;
}
h6, .h6 {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
} */
.description, .card-description, .footer-big p {
    color: #999999;
} 
.card-profile {
    margin-top: 30px;
    text-align: center;
}
.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px;
}
.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.card-profile .card-avatar img {
    width: 100%;
    height: auto;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* img {
    vertical-align: middle;
    border-style: none;
}
img {
    vertical-align: middle;
    border-style: none;
} */

.imagine-detail{
    float: left;
    width: 50%;

    position: relative;
    z-index: 1;
    display: block;
    height: 325px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    box-shadow: 0.25em 0.35em 1em rgba(0, 0, 0, 0.6);
}

.row{
    margin-top: 0.5em;
}



.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%);
}
 @media screen and (max-width: 576px){
        .modal-dialog {
            max-width: 500px;
            margin: 1.75rem auto;
        }
    }
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
@media (min-width: 576px){
.modal-content {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%);
}
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
h5, .h5 {
    font-size: 1.0625rem}

    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .modal-header .close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
    }
    /* button.close {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
    }
    button, html [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    }
    button, html [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    } */
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: .5;
    }

    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: .5;
    }
    /* button, select {
        text-transform: none;
    } */

    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #e9ecef;
    }


    /* .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    .btn.btn-secondary {
        color: #333333;
        background-color: #fafafa;
        border-color: #ccc;
        box-shadow: 0 2px 2px 0 rgb(250 250 250 / 14%), 0 3px 1px -2px rgb(250 250 250 / 20%), 0 1px 5px 0 rgb(250 250 250 / 12%);
    }
    .modal-footer> :not(:last-child) {
        margin-right: .25rem;
    }
    button, html [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    }
    button, html [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    }
    .btn, .btn.btn-default {
        color: #fff;
        background-color: #999999;
        border-color: #999999;
        box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153 / 12%);
    }
    .btn {
        position: relative;
        padding: 12px 30px;
        margin: 0.3125rem 1px;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.428571;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        border-radius: 0.2rem;
        outline: 0;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: box-shadow, transform;
    }
    .btn-secondary {
        color: #ffffff;
        background-color: #6c757d;
        border-color: #6c757d;
        box-shadow: none;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.46875rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
 */

    .ripple-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        border-radius: inherit;
    }

    .ripple-container .ripple-decorator.ripple-out {
        opacity: 0;
        transition: opacity 0.1s linear 0s !important;
    }
    .ripple-container .ripple-decorator.ripple-on {
        opacity: 0.1;
        transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    }
    .ripple-container .ripple-decorator {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 100%;
        opacity: 0;
        transform: scale(1);
        transform-origin: 50%;
    }

    .read-btn{
        display: block;
        width: 60%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
        background-size: 100%;
        font-size: 1rem;
        color: #fff;
        /* font-family: 'Poppins', sans-serif; */
        text-transform: uppercase;
        margin: 1rem 1rem;
        cursor: pointer;
        transition: .5s;
    }

    .bt-con{
        margin-top: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }