.ml-auto, .mx-auto {
    margin-left: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
@media (min-width: 768px)
{
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

}

.anim{
    width: 50%;
}
.bt-rev{
    margin-left: 1em;
    border-radius: 50%;
    color: antiquewhite;
    color: antiquewhites;
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 0;
    outline: 0;
    background-color: #474157;
}

.bt-rev:not(:disabled):not(.disabled) {
    cursor: pointer;
}
button:focus{
    outline:none !important;
}