.card .card-body .form-group {
    margin: 8px 0 0;
}
.form-group {
    padding-bottom: 10px;
    position: relative;
    margin: 8px 0 0;
}
.bmd-form-group {
    position: relative;
}

.profile-form{
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    /* padding: 2em; */
}
.profile-form .input-block {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #565472;
    width: 100%;
    height: 40px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
}

.profile-form .input-block.focus {
    background-color: #fff;
    border: solid 1px #565472;
}

.profile-form .input-block.textarea {
    height: auto;
}

.profile-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
}

.profile-form .input-block label {
    padding: 0 10px;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 20px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #999;
    font-size: 18px;
    line-height: 10px;
}

.profile-form .input-block .form-control {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 18px;
    height: 40px;
    padding: 0;
    position: relative;
    top: -20px;
    z-index: 2;
}

.profile-form .input-block .form-control:focus label {
    top: 0;
}


#buttons .btnp {
    margin: 0 0px 15px;
    padding: 2em;
}
#buttons .btnp {
    margin: 0 0 15px;
}
.btnp.btnp-success:active, .btnp.btnp-success:focus, .btnp.btnp-success:hover {
    box-shadow: 0 14px 26px -12px rgb(76 175 80 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(76 175 80 / 20%);
}
.btnp.btnp-success.focus, .btnp.btnp-success:focus, .btnp.btnp-success:hover {
    color: #fff;
    background-color: #47a44b;
    border-color: #39843c;
}
.btnp:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btnp.btnp-default:active, .btnp.btnp-default:focus, .btnp.btnp-default:hover, .btnp:active, .btnp:focus, .btnp:hover {
    box-shadow: 0 14px 26px -12px hsl(0deg 0% 60% / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px hsl(0deg 0% 60% / 20%);
}
.btnp.btnp-default.focus, .btnp.btnp-default:focus, .btnp.btnp-default:hover, .btnp.focus, .btnp:focus, .btnp:hover {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
}
.btnp.btnp-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgb(76 175 80 / 14%), 0 3px 1px -2px rgb(76 175 80 / 20%), 0 1px 5px 0 rgb(76 175 80 / 12%);
}
.btnp-success:hover {
    color: #fff;
    background-color: #409444;
    border-color: #3d8b40;
}
.btnp:focus, .btnp:hover {
    text-decoration: none;
}
.btnp {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.btnp.btnp-danger {
    color: #fff;
    background-color: #f33527;
    border-color: #f33527;
    box-shadow: none;
    box-shadow: 0 2px 2px 0 rgb(76 175 80 / 14%), 0 3px 1px -2px rgb(76 175 80 / 20%), 0 1px 5px 0 rgb(76 175 80 / 12%);
}
.btnp-danger {
    color: #fff;
    background-color: #f33527;
    border-color: #f33527;
    box-shadow: none;
}

.btnp.btnp-warning {
    color: #fff;
    background-color: #ff9800;
    border-color: #c27400;
    box-shadow: none;
    box-shadow: 0 2px 2px 0 rgb(76 175 80 / 14%), 0 3px 1px -2px rgb(76 175 80 / 20%), 0 1px 5px 0 rgb(76 175 80 / 12%);
}
.btnp-warning {
    color: #fff;
    background-color: #f08f00;
    border-color: #c27400;
    box-shadow: none;
}

.btnp-danger:hover {
    color: #fff;
    background-color: #f33527;
    border-color: #f33527;
}
.btnp-warning:hover {
    color: #fff;
    background-color: #ff9800;
    border-color: #c27400;
}


.form-control[disabled], .form-control[readonly] , fieldset[disabled]  .form-control{
    background-color: #f5f5f5  !important;
    color: #888 !important;
    cursor: not-allowed;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.icon:hover{
    cursor: pointer;
}

.pimagine{
    float: left;
    width: 50%;

    position: relative;
    z-index: 1;
    display: block;
    height: 125px;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0.25em 0.35em 1em rgba(0, 0, 0, 0.6);
}



.uacces-badge.allowed {
    background: #c8e6c9;
    color: #256029;
}
.uacces-badge.forbidden {
    background: #ffcdd2;
    color: #c63737;
}
.uacces-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.uacces-badge.details{
    background-color: #b3e5fc;
    color: #23547b;
}

.uacces-badge.details.focus,  .uacces-badge.details:focus, .uacces-badge.details:hover{
    color: #fff;
    cursor: pointer;
    background-color: #183d5c;
    border-color: #23547b;
    box-shadow: 0 14px 26px -12px rgb(244 67 54 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
}

.uacces-badge.delete{
    color: #fff;
    background-color: #38d39f;
    border-color: #2db487;
}

.uacces-badge.delete.focus,  .uacces-badge.delete:focus, .uacces-badge.delete:hover{
    color: #fff;
    cursor: pointer;
    background-color: #38d39f;
    border-color: #2db487;
    box-shadow: 0 14px 26px -12px rgb(244 67 54 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
}


.uacces-badge.edit{
    color: #fff;
    background-color: #eccfff;
    color: #694382;
}

.uacces-badge.edit.focus,  .uacces-badge.edit:focus, .uacces-badge.edit:hover{
    color: #fff;
    cursor: pointer;
    background-color: #eccfff71;
    color: #694382;
    box-shadow: 0 14px 26px -12px rgb(244 67 54 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
}


div.fade.in.modal {
    display:flex !important;
  }
  
  .modal-dialog {
    margin: auto;
  }


  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 100%;

    /* background-color: #F3F3F4; */
}



.group 			  { 
    position:relative; 
    margin-bottom:25px; 
  }

  .input-modal 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:35em;
    border:none;
    border-bottom:1px solid #757575;
  }
  .input-modal:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  .label-modal 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .input-modal:focus ~ .label-modal, .input-modal:valid ~ .label-modal 		{
    top:-20px;
    font-size:14px;
    color:#474157;
  }
  
  /* BOTTOM BARS ================================= */
  .bar-modal 	{ position:relative; display:block; width:300px; }
  .bar-modal:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#474157; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar-modal:before {
    left:50%;
  }
  .bar-modal:after {
    right:50%; 
  }
  
  /* active state */
  .input-modal:focus ~ .bar:before, .input-modal:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  .input-modal:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#474157; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#474157; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#474157; }
    to 	{ width:0; background:transparent; }
  }

  .nameu{
    width: 98%;
    padding:8px 0 8px 40px;
  }

  .pbook-form{
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    padding: 2em;
    /* border-top: 10px solid #38d39f; */
    border-top: 10px solid  rgb(105,231,189);
    /* background: #38d39f; */
    background: #F3F3F4 ;
    border-radius: 0.25em;
    /* box-shadow: 0 1em 1em 1em rgba(0, 0, 0, 0.2); */
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
    margin-bottom: 15px;
  }