.dash{
    width: (100%-200px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 200px;
    /* background: url(background.png) no-repeat; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}
